.cast-card-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
}

.cast-card-image {
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cast-card-name {
    color: #e9e9ea;
    font-weight: bold;
}