.home {
    color: #e9e9ea;
    margin-top: 10px;
    padding-bottom: 20px;
}

.home-movies-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 30px;
}

@media screen and (max-width: 576px) {
    .home-movies-list {
        justify-content: center;
        padding-left: 0px;
    }
}